# Git ignore file
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/
src/data/RRDataset_final/
outputs/
models/*.pth
*.png
!presentation/assets/*.png
*.md
# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.listing
*.pdf
*.sty
!presentation/beamerthemecookie.sty
